.body{
    background-color: rgba(255,248,131,0.76);
}

.login{
    margin: 15% auto;
    height: 20%;
    width: 30%;
    padding: 16px;
    color: darkslategray;
    display: table;
    background-color: azure;
}
.login__row{
    display: table-row;
    margin: auto;
    height: 40%;
}
.login__cell{
    display: table-cell;
    width: 50%;
    text-align: center;
}
.login__cell input{
    height: 36px;
    width: 80%;
    text-align: center;
}

.main-menu {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.show{
    margin-top: 4%;
    background-color: rgba(255,234,190,0.76);
}
.show__cell{
    background-color: aliceblue;
    padding: 16px;
}